AI-Powered Customer Experience Management System.json
{
  "name": "AI-Powered Customer Experience Management System",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your aim is to determine the type of feedback in the given below options: \n\nFeedback : {{ $json.Feedback }}\n\n1. Complain\n2. Compliment\n3. Improvement Request\n\nGive you the output only from these three options. \nComplain, Compliment, or Improvement Request\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2320,
        256
      ],
      "id": "c9371241-e7af-4127-a49a-6093301801ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1968,
        128
      ],
      "id": "169e32c5-c230-4586-bb86-4dd4f27a18e1",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "=Complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "861aac36-c9ae-4a2c-b9a5-bdc3d08f289a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "debb6d0a-42c5-4cf2-8117-da7a7172857b",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9142c75-9d0b-49a2-9c19-929da21257b2",
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "Improvement Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1744,
        112
      ],
      "id": "c8252d25-7425-4e30-8ba3-2510de2f6d86",
      "name": "Switch"
    },
    {
      "parameters": {
        "formTitle": "Feedback Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter you Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your Gmail",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact No.",
              "fieldType": "number",
              "placeholder": "Enter your Mobile No."
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "Enter your Feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2544,
        128
      ],
      "id": "361a9dd2-94d9-45f2-802a-34a5a36ca74c",
      "name": "Feedback Form",
      "webhookId": "cf9f7bbb-2065-4702-90b4-8278af155852"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1304573253,
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit#gid=1304573253"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Feedback": "={{ $json.Feedback }}",
            "Ticket ID": "={{ $json.ticket_id }}",
            "Date": "={{ $json.created_date }}",
            "Time": "={{ $json.created_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        128
      ],
      "id": "a158715c-5d9f-4c3b-b6bc-a3c6bcd7737f",
      "name": "Compliment Repository ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LAEEhqKYWUk2KZPE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1676188267,
          "mode": "list",
          "cachedResultName": "Improvement Request",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit#gid=1676188267"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Feedback": "={{ $json.Feedback }}",
            "Date": "={{ $json.created_date }}",
            "Ticket ID": "={{ $json.ticket_id }}",
            "Time": "={{ $json.created_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        320
      ],
      "id": "050be2cf-17bc-44bc-a24a-a0e22512af7e",
      "name": "Improvement Repository ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LAEEhqKYWUk2KZPE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Feedback Form').item.json.Email }}",
        "subject": "Thank You for Your Suggestion",
        "emailType": "text",
        "message": "=Dear {{ $('Feedback Form').item.json['Full Name'] }},\n\nThank you for sharing your suggestion with us.\n\nWe have successfully received your improvement request and appreciate the time you took to provide your valuable feedback.\n\nSuggestion Reference Details:\n\n• Suggestion ID: {{ $('Code in JavaScript2').item.json.ticket_id }}\n• Date Received: {{ $('Code in JavaScript2').item.json.created_date }}\n• Time Received: {{ $('Code in JavaScript2').item.json.created_time }}\n\nSuggestion Details:\n\n• Contact Number: {{ $('Feedback Form').item.json['Contact No.'] }}\n• Suggestion: {{ $('Feedback Form').item.json.Feedback }}\n\nYour ideas help us improve our products and services. Our team will review your suggestion and consider it for future improvements.\n\nThank you for helping us serve you better.\n\nBest Regards,\n\nCustomer Support Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -848,
        320
      ],
      "id": "f0482b8a-fcc4-4140-b096-c807e3953360",
      "name": "Improvement Acknowledgment Service",
      "webhookId": "f1c54e09-efe7-45b4-8a21-75cf6fb4f9d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "0nm4KQLtOpbe9sYo",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Feedback Form').item.json.Email }}",
        "subject": "Thank You for Your Kind Feedback",
        "emailType": "text",
        "message": "=Dear {{ $('Feedback Form').item.json['Full Name'] }},\n\nThank you for your wonderful feedback.\n\nWe are delighted to hear about your positive experience. Your appreciation motivates our team to continue providing the best possible service.\n\nYour Ticket ID is: {{ $('Code in JavaScript1').item.json.ticket_id }}\n\nFeedback Details:\n  Contact Number: {{ $('Feedback Form').item.json['Contact No.'] }}\n  Feedback: {{ $('Feedback Form').item.json.Feedback }}\n\nWe truly value your support and are grateful that you took the time to share your thoughts with us.\n\nThank you for choosing us. We look forward to serving you again.\n\nBest Regards,\nCustomer Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1072,
        128
      ],
      "id": "00e72d62-9cff-4354-ba2b-c2568c2feb96",
      "name": "Compliment Acknowledgment Service ",
      "webhookId": "f1c54e09-efe7-45b4-8a21-75cf6fb4f9d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "0nm4KQLtOpbe9sYo",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const category = $json.output;\n\nlet prefix = \"\";\n\nif (category === \"Complain\") {\n  prefix = \"CMP\";\n} else if (category === \"Compliment\") {\n  prefix = \"COM\";\n} else if (category === \"Improvement Request\") {\n  prefix = \"IMP\";\n}\n\nconst now = new Date();\n\nconst date = now.toLocaleDateString('en-GB', {\n  timeZone: 'Asia/Kolkata'\n});\n\nconst time = now.toLocaleTimeString('en-IN', {\n  timeZone: 'Asia/Kolkata',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: true\n});\n\nreturn [{\n  ...$json,\n  ticket_id: `${prefix}-${Date.now()}`,\n  created_date: date,\n  created_time: time\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -64
      ],
      "id": "c6725156-8d7e-4a21-bf25-0e302cb7c9b9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const category = $json.output;\n\nlet prefix = \"\";\n\nif (category === \"Complain\") {\n  prefix = \"CMP\";\n} else if (category === \"Compliment\") {\n  prefix = \"COM\";\n} else if (category === \"Improvement Request\") {\n  prefix = \"IMP\";\n}\n\nconst now = new Date();\n\nconst date = now.toLocaleDateString('en-GB', {\n  timeZone: 'Asia/Kolkata'\n});\n\nconst time = now.toLocaleTimeString('en-IN', {\n  timeZone: 'Asia/Kolkata',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: true\n});\n\nreturn [{\n  ...$json,\n  ticket_id: `${prefix}-${Date.now()}`,\n  created_date: date,\n  created_time: time\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        128
      ],
      "id": "951aa2b7-1812-4154-93ff-1a45ddcaba68",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const category = $json.output;\n\nlet prefix = \"\";\n\nif (category === \"Complain\") {\n  prefix = \"CMP\";\n} else if (category === \"Compliment\") {\n  prefix = \"COM\";\n} else if (category === \"Improvement Request\") {\n  prefix = \"IMP\";\n}\n\nconst now = new Date();\n\nconst date = now.toLocaleDateString('en-GB', {\n  timeZone: 'Asia/Kolkata'\n});\n\nconst time = now.toLocaleTimeString('en-IN', {\n  timeZone: 'Asia/Kolkata',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: true\n});\n\nreturn [{\n  ...$json,\n  ticket_id: `${prefix}-${Date.now()}`,\n  created_date: date,\n  created_time: time\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        320
      ],
      "id": "62ff72ed-2f20-4b00-94b8-e38b79b92bd3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B8YT6V59A",
          "mode": "list",
          "cachedResultName": "complain"
        },
        "text": "=User Details are:\nDate: {{ $json.Date }}\nTime: {{ $json.Time }}\nTicket ID: {{ $json['Ticket ID'] }}\nFull Name: {{ $('Feedback Form').item.json['Full Name'] }}\nContact No: {{ $('Feedback Form').item.json['Contact No.'] }}\nFeedback: \"{{ $('Feedback Form').item.json.Feedback }}\"\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -1072,
        -64
      ],
      "id": "10a85ee7-e853-4baa-826e-9dcf3ce27832",
      "name": "Complaint Operations Team",
      "webhookId": "7b7e565f-4080-4614-bd50-54832553ff6b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xySPOvRbV7bBvL5l",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B8DQSLLNT",
          "mode": "list",
          "cachedResultName": "improvement-request"
        },
        "text": "=User Details are:\nDate: {{ $json.Date }}\nTime: {{ $json.Time }}\nTicket ID: {{ $('Code in JavaScript2').item.json.ticket_id }}\nFull Name: {{ $('Feedback Form').item.json['Full Name'] }}\nContact No: {{ $('Feedback Form').item.json['Contact No.'] }}\nFeedback: \"{{ $('Feedback Form').item.json.Feedback }}\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -1072,
        320
      ],
      "id": "959ec5df-f992-4e74-969f-d2d017c3fb54",
      "name": "Improvement Operations Team",
      "webhookId": "7b7e565f-4080-4614-bd50-54832553ff6b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xySPOvRbV7bBvL5l",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Feedback Form').item.json.Email }}",
        "subject": "=Your Complaint Has Been Resolved – {{ $('Code in JavaScript').item.json.ticket_id }}",
        "emailType": "text",
        "message": "=Dear {{ $('Feedback Form').item.json['Full Name'] }},\n\nWe are pleased to inform you that your complaint has been successfully reviewed and resolved.\n\nResolution Details:\n\n• Ticket ID: {{ $('Code in JavaScript').item.json.ticket_id }}\n• Resolution Date: {{ $('Code in JavaScript').item.json.created_date }}\n• Resolution Time: {{ $('Code in JavaScript').item.json.created_time }}\n\nOur team carefully investigated the issue you reported and has taken the necessary steps to address your concern. We sincerely apologize for any inconvenience caused and appreciate your patience while we worked on resolving the matter.\n\nYour feedback played an important role in helping us identify and address the issue. We remain committed to continuously improving our products and services to provide the best possible experience for our customers.\n\nIf you feel that the issue has not been fully resolved or if you require any further assistance, please do not hesitate to reply to this email. Our team will be happy to help.\n\nThank you for your patience, understanding, and continued trust in our services.\n\nBest Regards,\n\nCustomer Support Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        -160
      ],
      "id": "5402c988-a0ed-4e4b-92e5-555108e59f8f",
      "name": "Resolved Complaint Notification",
      "webhookId": "f1c54e09-efe7-45b4-8a21-75cf6fb4f9d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "0nm4KQLtOpbe9sYo",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.Email }}",
        "subject": "=Complaint Status Update – {{ $('Code in JavaScript').item.json.ticket_id }}",
        "emailType": "text",
        "message": "=Dear {{ $('Feedback Form').item.json['Full Name'] }},\n\nWe would like to provide an update regarding your complaint, which is currently under review.\n\nComplaint Reference Details:\n\n• Ticket ID: {{ $('Code in JavaScript').item.json.ticket_id }}\n• Date Received: {{ $('Code in JavaScript').item.json.created_date }}\n• Time Received: {{ $('Code in JavaScript').item.json.created_time }}\n\nOur team is actively reviewing your concern and working towards a resolution. We sincerely apologize for the delay and understand that waiting for an update can be frustrating.\n\nPlease be assured that your complaint remains a priority for us, and we are making every effort to resolve the issue as quickly as possible.\n\nWe appreciate your patience and understanding during this process. If you have any additional information that may assist us in our investigation, please feel free to reply to this email.\n\nThank you for your continued patience and cooperation. We will keep you informed of any significant updates regarding your complaint.\n\nBest Regards,\n\nCustomer Support Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        32
      ],
      "id": "7c991852-0d6c-4133-8aa4-b7c96fd07412",
      "name": "Complaint Follow-up Notification",
      "webhookId": "f1c54e09-efe7-45b4-8a21-75cf6fb4f9d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "0nm4KQLtOpbe9sYo",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Feedback Form').item.json.Email }}",
        "subject": "We Have Received Your Complaint",
        "emailType": "text",
        "message": "=Dear {{ $('Feedback Form').item.json['Full Name'] }},\n\nThank you for bringing this issue to our attention.\n\nWe have successfully received your complaint regarding the item/service. Our team will review the details and investigate the matter as soon as possible.\n\nComplaint Reference Details:\n\n• Investigation ID: {{ $('Code in JavaScript').item.json.ticket_id }}\n• Date Received: {{ $('Code in JavaScript').item.json.created_date }}\n• Time Received: {{ $('Code in JavaScript').item.json.created_time }}\n\nComplaint Details:\n\n• Contact Number: {{ $('Feedback Form').item.json['Contact No.'] }}\n• Feedback: {{ $('Feedback Form').item.json.Feedback }}\n\nWe appreciate your patience and value your feedback. If additional information is required, our team will contact you.\n\nThank you for helping us improve our service.\n\nBest Regards,\n\nCustomer Support Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -848,
        -64
      ],
      "id": "ddf8e718-c4e9-4088-bad2-4ddec0ec38c2",
      "name": "Complaint Acknowledgment Service",
      "webhookId": "f1c54e09-efe7-45b4-8a21-75cf6fb4f9d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "0nm4KQLtOpbe9sYo",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Contact No.": "={{ $json['Contact No.'] }}",
            "Feedback": "={{ $json.Feedback }}",
            "Date": "={{ $json.created_date }}",
            "Time": "={{ $json.created_time }}",
            "Ticket ID": "={{ $json.ticket_id }}",
            "Status": "Open"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact No.",
              "displayName": "Contact No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        -64
      ],
      "id": "9baf9548-d3f1-461f-bebb-13ae89348f49",
      "name": "Complaint Repository",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LAEEhqKYWUk2KZPE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -624,
        -64
      ],
      "id": "57025cf0-2fc3-4fbd-90d0-4f96327952a4",
      "name": "Wait(24 hrs)",
      "webhookId": "8f39cf71-61fd-4b4f-a2b8-548e2da1b73e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n7-XMgHYqo1co5dGGm67bTN-rVgjEZTTViGH-9JJiU8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ticket ID",
              "lookupValue": "={{ $('Code in JavaScript').item.json.ticket_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        -64
      ],
      "id": "5a5e803a-0fea-43ff-83fa-ed0f71d12d7b",
      "name": "Check Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LAEEhqKYWUk2KZPE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d246556-aa0c-4d34-af70-09d0c6f63250",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Solved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -64
      ],
      "id": "b317fa49-4c17-47e5-b30a-8df116b72a2c",
      "name": "If"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2240,
        480
      ],
      "id": "5f7a04d2-722c-45b3-9d39-fea6e179edb7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "7FZn0xntmH4xrP1H",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Form": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliment Repository ": {
      "main": [
        [
          {
            "node": "Compliment Acknowledgment Service ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improvement Repository ": {
      "main": [
        [
          {
            "node": "Improvement Operations Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Complaint Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Compliment Repository ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Improvement Repository ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint Operations Team": {
      "main": [
        [
          {
            "node": "Complaint Acknowledgment Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improvement Operations Team": {
      "main": [
        [
          {
            "node": "Improvement Acknowledgment Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint Acknowledgment Service": {
      "main": [
        [
          {
            "node": "Wait(24 hrs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint Repository": {
      "main": [
        [
          {
            "node": "Complaint Operations Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait(24 hrs)": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Resolved Complaint Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complaint Follow-up Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "017f88df-f28f-48ce-af75-9486f6ab1b8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c226e8852e5a468809d62c47ee0cc0fde87d50d2e28b5479582051cc02985706"
  },
  "nodeGroups": [],
  "id": "wE3SgqeoemmoE1ev",
  "tags": []
}